footer.content-info {
  background: #3A3A3A;
  color: $white;
  padding: 40px 15%;
  position: relative;

  a {
    &:link {
      color: $white;
    }
  }

  small {
    font-family: $cabin;
    font-size: .6em;
    color: $white;
    font-weight: 300;
    display: block;
    float: left;
    padding-top: 20px;
  }
}
