#intro {
  height: 100vh;
  text-align: center;
  background-image: url('../../assets/images/bg-1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 10vh;

  #bighead {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 50px 0;

    @include phone-landscape {
      width: 20%;
      display: block;
      margin: 0 auto;
      padding: 50px 0 5px 0;
    }

    @include bigphone-landscape {
      width: 20%;
      display: block;
      margin: 0 auto;
      padding: 50px 0 25px 0;
    }

    @include laptop {
      width: 35%;
      display: block;
      margin: 0 auto;
      padding: 50px 0;
    }
  }
}

section.container {
  margin: 0 auto;
}

#about {
  text-align: center;
  background-image: url('../../assets/images/bg-2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  .inner-content {
    background: $white;

    padding: 60px 40px;

    h2 {
      margin-top: 0;
    }

    p {
      text-align: left;
    }

    .lefty {
      display: block;
      vertical-align: top;

      @include laptop {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding-right: 1.5em;
      }
    }
    .righty {
      display: inline-block;
      vertical-align: top;
      padding-top: 20px;

      @include laptop {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding-top: 0px;
      }

      .cute-list {
        text-align: left;
        list-style: square inside url('../images/bullet.png')!important;

        @include laptop {
          padding-left: 1.5em;
        }

        li {
          padding: 10px 0;

          @include laptop {
            padding: 0;
          }
        }
      }
    }
  }
}

#tags {
  text-align: center;
  background-image: url('../../assets/images/bg-3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  .inner-content {
    background: $white;
    padding: 60px 40px;

    .divider {
      margin: 1.5em auto 3em auto;
      width: 80%;
      height: 10px;
      background: $light-blue;
    }

    #popular-tags {
      padding: 1em 10% 0;

      a {
        display: inline-block;
      }
    }

    > h2 {
      margin-bottom: 30px;
      margin-top: 0;
    }

    $ribbon-width: 200px;

    .sticky-project {
      margin: 0 auto;
      display: inline-block;

      @include phone-landscape {
        padding: 0 15%;
      }

      @include laptop {
          margin: 0 $ribbon-width/$pi;
      }

      .ribbon {
        position: relative;

        > img {
          width: $ribbon-width;
          position: absolute;
          top: -$ribbon-width/3.2;
          left: -$ribbon-width/8;
        }

        > p.ribbon-text {
          position: absolute;
          top: -$ribbon-width/8;
          left: 0;
          text-align: center;
          white-space: nowrap;
          z-index: 9999999;

          > span {
            color: $white;
            font-size: .9em;


          }
        }
      }

      > img {
        width: $ribbon-width*.75;
        border-radius: 50%;
        border: $dark-blue 8px solid;
      }
    }

  }
}
