#page-content {
  padding: 30px 15%;
}

body.home #page-content {
  padding: 0!important;
}

#page-content > .page-header {
  margin-top: 70px;
  margin-bottom: 0;
  padding-bottom: 0;

  > h1 {
    margin-bottom: 0;
  }

  @include tablet {
    margin-top: 70px;
    margin-bottom: 0;
    padding-bottom: 0;

    > h1 {
      margin-bottom: 0;
    }
  }

  @include laptop {
    margin-bottom: 40px;
    padding-bottom: 0;
  }
}

.entry-title {
  margin-top: 50px;
}

.tags-container a {
  display: inline-block;
  margin: 6px;

  @include laptop {
    margin: 10px;
  }
}
